body{
    background-color: #D5E1EF;;
}
.box{
    width: 320px;
    height: 497px;
    
    border-radius: 20px;
    background-color: #FFFFFF;}
   
img{
    width: 288px;
    height: 288px;
        
}