body{
    background-color: #D5E1EF;;
}
div{
    width: 320px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    padding: 16px;
}
img{
    max-width: 100%;
    border-radius: 10px;
    
}